<html>
<head>
<title>Restaurantes</title>
  <meta content="charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/css.css">
</head>
<body>
  <div id="page">
    <div id="headerlogin">
      <div class="background">
        <h1><a href="#">Vota Prato</a></h1>
        <ul>
          <li><a href="http://localhost:3000/users/sign_in">Clientes</a></li>
          <li><a href="http://localhost:3000/users/sign_in">Comentários</a></li>
          <li><a href="http://localhost:3000/users/sign_in">Restaurantes</a></li>
          <li><a href="http://localhost:3000/users/sign_in">Qualificações</a></li>

        </ul>
      </div>
    </div>

<div id="giz">
      <div id="quadroabaixo" align="center">
        <div class="block">
          <div class="block-top"></div>
          <div class="block-content">
            
            <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
  </div>

          <div class="block-bottom"></div>
        </div>
      </div>
    </div>