<html>
<head>
<title>Restaurantes</title>
	<meta content="charset=utf-8">
	<link rel="stylesheet" type="text/css" href="css/css.css">
</head>
<body>
	<div id="page">
		<div id="headerlogin">
			<div class="background">
				<h1><a href="#">Vota Prato</a></h1>
				<ul>
					<li><a href="http://localhost:3000/users/sign_in">Clientes</a></li>
					<li><a href="http://localhost:3000/users/sign_in">Comentários</a></li>
					<li><a href="http://localhost:3000/users/sign_in">Restaurantes</a></li>
					<li><a href="http://localhost:3000/users/sign_in">Qualificações</a></li>

				</ul>
			</div>
		</div>
			<div id="giz">
			<div id="quadroabaixo" align="center">
				<div class="block">
					<div class="block-top"></div>
					<div class="block-content">

						<h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "New password" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Change my password" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
	</div>

					<div class="block-bottom"></div>
				</div>
			</div>
		</div>