<html>
<head>
<title>Qualificações</title>
	<meta content="charset=utf-8">
	<link rel="stylesheet" type="text/css" href="css/css.css">
</head>
<body>
	<div id="page">
		<div id="headerqua">
			<div class="background">
				<h1><a href="#">Vota Prato</a></h1>
				<ul>
					<li><a href="http://localhost:3000/Clientes">Clientes</a></li>
					<li><a href="http://localhost:3000/Comentarios">Comentários</a></li>
					<li><a href="http://localhost:3000/Restaurantes">Restaurantes</a></li>
					<li class="active"><a href="http://localhost:3000/Qualificacaos">Qualificações</a></li>

				</ul>
			</div>
		</div>
		<div id="giz">
			<div id="quadroesquerda">
				<div class="block">
					<div class="block-top"></div>
					<div class="block-content">

						<p id="notice"><%= notice %></p>



<p>
  <b>Cliente:</b>
  <%= @qualificacao.cliente.nome %>
</p>

<p>
  <b>Restaurante:</b>
  <%= @qualificacao.restaurante.nome %>
</p>

<p>
  <b>Nota:</b>
  <%= @qualificacao.nota %>
</p>

<p>
  <b>Valor gasto:</b>
  <%= @qualificacao.valor_gasto %>
</p>


<%= link_to 'Edit', edit_qualificacao_path(@qualificacao) %> |
<%= link_to 'Back', qualificacaos_path %>

<% unless @qualificacao.comentarios.empty?%>
<%= comentarios @qualificacao %>
<% end %>
<%= novo_comentario(@qualificacao) %>

</div>
					<div class="block-bottom"></div>
				</div>
			</div>
			<div id="quadrodireita">
				<div class="block">
					<div class="block-top"></div>
					<div class="block-content">
						Trabalho Realizado por Rodrigo e Vinicius.
						<br>
						<br>
						Ruby Three Cotia.
					</div>
					<div class="block-bottom"></div>
				</div>

	
			</div>
		</div>
</body>
</html>